footer{
    width: 100%;
    background-color: rgb(47, 42, 63);
    height: 100px;
    .my_container_footer{
    margin: auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
        p{
          color: blueviolet;
        }
        span{
            i{
                color: blue;
            }
        }

    }
}
 
@media screen and (max-width:756px) {
    footer{
        .my_container_footer{
            display: flex;
            flex-direction: column;
            p{
                text-align: center;
            }
            span{
                text-align: center;
            }
        }

    }
}